<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body style='background: linear-gradient(0.25turn, #667eea, #764ba2)'>
<h1 style='font-size: 100px; text-align: center; margin-top: 200px; font-family: "Segoe UI Black", fantasy; margin-bottom: 1px'> My Name is Asylbek</h1>
<h2 style='font-size: 100px; font-family: "Segoe UI Black",fantasy; text-align: center; margin:1px'>I'm {{ year }} years old</h2>
<h3 style='font-size: 100px; font-family: "Segoe UI Black",fantasy; text-align: center; margin-top: 1px'>And I study in GeekTech</h3>
</body>
</html>