<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/films/">
    <button>All</button>
</a>
{% for director in directors %}
    <a href="/director/{{ director.id }}/films/">
        <button>{{ director.name }}</button>
    </a>
{% endfor %}
<h1>{{ director.name }}</h1>
{% for film in director.film_list_on_director.all %}
    <a href="/films/{{ film.id }}/">
    <h3>Title: {{ film.title }}</h3>
    </a>
    <p>Duration: {{ film.duration }}</p>
    <p>Rating: {{ film.rating }}</p>
    <hr>
{% endfor %}
</body>
</html>