{% extends 'base.html' %}
{% block content %}
<h1 style="margin: 0 auto   ; text-align: center">{{ director.name }}</h1>
    <div class="row" style="width: 1300px; margin: 0 auto; padding-top: 10px">
        {% for film in director.film_list_on_director.all %}
            <div class="col-sm-6">
                <div class="card text-center text-bg-light mb-3" style="width: 40rem;">
                    <div class="card-body">
                        <h1 class="card-title">{{ film.title }}</h1>
                        <h2 class="card-text">Режиссер: {{ film.producer }}<br>Рейтинг: {{ film.rating }}<br>Длительность: {{ film.duration }}
                        </h2>
                        <a href="/films/{{ film.id }}/" class="btn btn-primary">{{ film.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}